/* mobile version */


/* general css */

html{
  background-color:  rgb(253, 222, 228, 99);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
} 

header{
  background-color: rgb(249, 232, 232);
}
 /* makes background-image */

.background-image{
  background-image: url(../images/bckg.png);
  /* Replace with the path to your image */
  background-size: cover;
  padding: 1rem;
  background-position: center;
}

.background-image .wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
}
u{
  color: rgb(134, 65, 65);
}
/* alters all h1 and h2  */
h1 ,h2{
  padding: 1rem;
  text-align: center;
  color: rgb(134, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-size: 20px;
}

/* ceates a border around content  */
.box{
  border: 2px solid;
  background: rgb(253, 235, 237, 99);
}

.chose-location{
  text-align: center;
}

/* puts the footer in a row for mobile version  */
.row {
  display: flex;
  padding: 1rem;
  /* flex-flow: row wrap;       desktop
  align-items: center; */
  max-width: 1200px;
  font-size: 20px;
  display: inline; 
}

.col {
  padding: 20px;
  text-align: center;
  padding-top: 10px; 
  color: black;
}


/* home page */
.home-img{
  background-image: url(../images/homeimg.png);
  /* Replace with the path to your image */
  background-size: cover;
  padding: 1rem;
  background-position: center;
}
.home-img .wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
}

.click{
  border: 2px solid   rgb(134, 65, 65);
  padding: 10px 10px; /* Set padding */
  padding-left: 3%;
  text-align: center; 
  font-size: 15px;
  margin: 6%;
  border-radius: 20px;
  background-color: rgb(253, 235, 237, 99);
}
.click a{
  text-decoration: none;
  color: #000;
}

/* enter link for sign in page  */
.enter{
  display: inline;/* Make it an inline element */
  display: flex;
  flex-direction: column;
  font-size: 20px; 
  margin: 5%;
  padding-left: 10px;/* Set padding */
  text-align: center; /* Center text */
}

/* design nav to display in a row for the mobile  */
.main-nav ul li{
  display: inline;/* Make it an inline element */
  display: flex;
  flex-direction: column;
  font-size: 20px; 
  margin: 5%;
  padding-left: 10px;/* Set padding */
  text-align: center; /* Center text */
  width: 90px;
  height: 20px;
  border: 2px solid   rgb(134, 65, 65);
  padding: 10px 10px; /* Set padding */
  border-radius: 20px;
  background-color: rgb(253, 235, 237, 99);
}

li a {
  color: black;
  text-decoration: none;
}

/* wrap text around image  */
#bakery .text{
  float: left; 
} 
.bakery-wrapper p{
color: rgb(134, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

#bakery{
  max-width: 100%;
}

.bakery-wrapper{
  padding: 5rem;
  max-width: 100%;
}

#bakery {
  float:right;
  bottom: 70px;
}

.todayspecial{
  position: relative;
    padding: 1rem;
    text-align:start;
    color: black;
}
 
.content-container{
  height: 600px;
  overflow-x: scroll;
}
  
.special{
  max-width: 400px;
  margin: 40px auto;
  padding: 5px;
}
  
.special-container{
  width: 1590px;
}
.special{
  float:left;
  width: 300px;
  height: 280px;  
}

.todayspecial h2{
  text-align: center;
}


/* learn more page */

/* learn more animation */

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@keyframes wave {
  0%, 100% { 
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

.wave span {
  display: inline-block;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0.2s;
}

.wave span:nth-child(2) {
  animation-delay: 0.4s;
}

.wave span:nth-child(3) {
  animation-delay: 0.6s;
}

.wave span:nth-child(4) {
  animation-delay: 0.8s;
}


  /* contact page*/

.form{
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 120px;
}
  .form ,#email ,#name ,#message,#option {
    width: 400px;
}

/* sign-in page*/

.sign-in{
  max-width: 1200px;
}
#email ,#name{
  max-width: 500px;
}
.signform{
   padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 120px;
}

/* thank you page */

.thanks .thanks-wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
  width: 300px;
}
 /* thank you animation */
.body-animation{
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.tybox{
  border: 4px solid palevioletred;
}

.anime {
  width: 100px;
  height: 100px;
}
  
.jump {
  animation-name: jump;
  animation-duration: 2s;
}
  
@keyframes jump {
  10%, 25% { 
    transform: scale(1.3, 0.7); 
  }
    
  50% { 
    transform: scale(0.5, 2) translate(0, -100px); 
  }  
    
  60% { 
    transform: scale(1, 1) translate(0, 0);   
  } 
    
  75% { 
    transform: scale(1.3, 0.7) translate(0, 0); 
  }
    
  85% { 
    transform: scale(1, 1) translate(0, 0);   
  }
}



/* menu page */

#candy, #Tart, #rolls , 
#doughnuts, #treat ,#yogurt,
#cocktail, #food, #granita, 
#Cream, #Strawberry , #sundae,
#croissants, #cottoncandy{
  width: 1200px;
  max-width: 100%;
  height: auto;
}
.menu {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.foodpics .menucontent {
  width: 100px;
  height: 100px;
}

.menucontent {
  grid-column: 2;
}



/* desktop version */

@media screen and (min-width: 760px) {
 
  .main-nav ul li {
    display: inline;
    flex-direction: row; /* Change flex-direction to row */
    font-size: 20px;
    margin: 5%;
    padding-left: 10px;
    text-align: center;
  }

  .row {
    justify-content: space-between;
  }

  .col {
    flex: 1;
  }

}


















