/* mobile version */



/* drop down menu  */

#menuToggle{
  display: block;
  position: relative;
  top: 10px;
  left: 9px;
  z-index: 1;
}

#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/* menu .body-animation */

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 1s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/*  Transform all the slices of hamburger into a crossmark.*/

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* hide the middle one.*/

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(40deg) scale(0.2, 0.2);
}

/* make the last  go the other direction*/

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 15px 0;
  font-size: 22px;
}

/* slide it in from the left*/

#menuToggle input:checked ~ ul{
  transform: none;
}



/* general css */

html{
  background-color:  rgb(253, 222, 228, 99);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
} 

header{
  background-color: rgb(249, 232, 232);
}

 /* makes background-image */

.background-image{
  background-image: url(../images/bckg.png);
  /* Replace with the path to your image */
  background-size: cover;
  padding: 1rem;
  background-position: center;
}

.background-image .wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
}

u{
  color: rgb(134, 65, 65);
}
/* alters all h1 and h2  */

h1 ,h2{
  padding: 1rem;
  text-align: center;
  color: rgb(134, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-size: 20px;
}

/* ceates a border around content  */

.box{
  border: 2px solid;
  background: rgb(253, 235, 237, 99);
}

.chose-location{
  background-color:  rgb(253, 222, 228, 99);
  border: none;
  text-decoration: underline;
  max-width:100%;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 1rem;
}

.location{
  text-align: center;
}

.fa-location-dot,
.fa-utensils {
  font-size: 20px;
}

.fa-angles-up{
  font-size: 20px;
  float: right;
}


/* puts the footer in a row for mobile version  */

.row {
  display: flex;
  padding: 1rem;
  font-size: 20px;
  display: inline; 
}

.col {
  padding: 10px;
  text-align: center;
  padding-top: 10px; 
  color: black;
  font-size: 15px;
}

.logo {
  float: right;
}
#logo{
  position: relative;
  bottom: 30px;
}

/* home page */

.home-img{
  background-image: url(../images/homeimg.png);
  /* Replace with the path to your image */
  background-size: cover;
  padding: 1rem;
  background-position: center;
}

.home-img .wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
}

.click{
  border: 2px solid   rgb(134, 65, 65);
  padding: 10px 10px; /* Set padding */
  padding-left: 3%;
  text-align: center; 
  font-size: 15px;
  margin: 6%;
  border-radius: 20px;
  background-color: rgb(253, 235, 237, 99);
}

.click a{
  text-decoration: none;
  color: #000;
}

/* enter link for sign in page  */

.enter{
  display: inline;/* Make it an inline element */
  display: flex;
  flex-direction: column;
  font-size: 20px; 
  margin: 5%;
  padding-left: 10px;/* Set padding */
  text-align: center; /* Center text */
}

/* design nav to display in a row for the mobile  */

.main-nav ul li{
  font-size: 20px; 
  margin: 5%;
  padding-left: 10px;/* Set padding */
  text-align: center; /* Center text */
  width: 90px;
  height: 20px;
  border: 2px solid   rgb(134, 65, 65);
  padding: 10px 10px; /* Set padding */
  border-radius: 20px;
  background-color: rgb(253, 235, 237, 99);
}

.main-nav ul {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
  
}

/* wrap text around image  */
#bakery .text{
  float: left; 
} 
.bakery-wrapper p{
  color: rgb(134, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
}

#bakery{
  max-width: 100%;
}

.bakery-wrapper{
  padding: 5rem;
  max-width: 100%;
}

#bakery {
  float:right;
}

.todayspecial{
  position: relative;
  padding: 1rem;
  text-align:start;
  color: black;
}
 
.content-container{
  height: 600px;
  overflow-x: scroll;
}
  
.special{
  max-width: 400px;
  margin: 40px auto;
  padding: 5px;
}
  
.special-container{
  width: 1590px;
}
.special{
  float:left;
  width: 300px;
  height: 280px;  
}

.todayspecial h2{
  text-align: center;
}

.todayspecial h1{
  text-decoration: underline;
}

/* learn more page */

/* learn more animation */

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@keyframes wave {
  0%, 100% { 
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

.wave span {
  display: inline-block;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0.2s;
}

.wave span:nth-child(2) {
  animation-delay: 0.4s;
}

.wave span:nth-child(3) {
  animation-delay: 0.6s;
}

.wave span:nth-child(4) {
  animation-delay: 0.8s;
}


  /* contact page*/

.form{
  padding-top: 100px;
  padding-bottom: 120px;
}

.form {
  width: 230px;
  max-width: 100%;
  margin: auto;
}

#email ,
#name ,
#message,
#option {
  width: 230px;
}

/* sign-in page*/

.signform{
    padding-top: 50px;
    padding-bottom: 120px;
    margin: auto;
    width: 230px;
}

/* thank you page */

.thanks .thanks-wrapper{
  background-color: rgba(255, 244, 244, 0.6);
  padding: 2rem;
  color: rgb(38, 38, 38);
  width: 300px;
}
 /* thank you animation */
.body-animation{
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.tybox{
  border: 4px solid palevioletred;
}

.anime {
  width: 100px;
  height: 100px;
}
  
.jump {
  animation-name: jump;
  animation-duration: 2s;
}
  
@keyframes jump {
  10%, 25% { 
    transform: scale(1.3, 0.7); 
  }
    
  50% { 
    transform: scale(0.5, 2) translate(0, -100px); 
  }  
    
  60% { 
    transform: scale(1, 1) translate(0, 0);   
  } 
    
  75% { 
    transform: scale(1.3, 0.7) translate(0, 0); 
  }
    
  85% { 
    transform: scale(1, 1) translate(0, 0);   
  }
}



/* menu page */

#candy, #Tart, #rolls , 
#doughnuts, #treat ,#yogurt,
#cocktail, #food, #granita, 
#Cream, #Strawberry , #sundae,
#croissants, #cottoncandy,#shortcake {
  width: 1200px;
  max-width: 100%;
  height: auto;
}


/* desktop version */

@media screen and (min-width: 760px) {
 
  .main-nav ul  {
    
    flex-direction: row; /* Change flex-direction to row */
    justify-content: space-evenly;
    font-size: 20px;
    margin: 5%;
    padding-left: 10px;
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .col {
    flex: 1;
  }

  .col.logo {
    float: right;
  }


.menu {
  display: grid;
  grid-template-columns: auto auto; 
  /* Set two columns for food pics and menu content */
  gap: 20px;
}

#candy{
  align-items: center;
}

.foodpics {
  display: flex; 
  /* Add flex display to align food pics and menu content horizontally */
}

.menucontent {
  display: flex;
   /* Add flex display to align food pics and menu content horizontally */
  align-items: center;
}

}






